:root{
  --primary-1-color:#e52165;
  --primary-2-color:#12a4d9;
  --primary-3-color:#000000;
  --primary-4-color:#ecc19c;
  --secondary-1-color:#0d1137;
  --secondary-2-color:#e2d810;
  --secondary-3-color:#f3ca20;
  --secondary-4-color:#1e847f;
}

*{
  margin: 0;
  padding: 0;
  
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

.btn{
  text-decoration: none;
  background: white;
  color: #000000;
  padding: 1rem 2rem;
  margin-top: 2rem ;
  transition:  1s ;
  
}

.btn:hover,
.btn-dark{
  background: #000000;
  color: white;
}

.btn-dark:hover{
  background: white;
  color: #000000;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0 4rem;
}

#page-1{
  background: var(--primary-1-color);
  
}
#page-2{
  background: var(--primary-2-color);
  
}

#page-3{
  background: var(--primary-3-color);
  
}

#page-4{
  background: var(--primary-4-color);
  
}

#page-1 h1{
  color: var(--secondary-1-color);
  font-size: 4rem;
  transform: translateY(-1200px);
  animation: heading forwards 2s ;
}

#page-1 p{
  transform: translateX(-1800px);
  animation: para forwards 2s 1s;
}

@keyframes heading{
  to{
    transform: translateY(0);
  }
}

@keyframes para{
  to{
    transform: translateX(0);
  }
}

p{
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#page-2 h1{
  color: var(--secondary-2-color);
  font-size: 4rem;
}

#page-3 h1{
  color: var(--secondary-3-color);
  font-size: 4rem;
}

#page-4 h1{
  color: var(--secondary-4-color);
  font-size: 4rem;
}

/* toggle-menu-bar*/

.menu-wrap{
  position: fixed;
  z-index: 1;
}

.toggler{
  height: 50px;
  width: 50px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  position: fixed;
}

.hamburger{
  height: 60px;
  width: 60px;
  background: rgba(229, 33, 101, );
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > div{
  background: white;
  flex: none;
  position: relative;
  height: 2px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: 1;
}

.hamburger > div::before,
.hamburger > div::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: -10px;
  background-color: inherit;
  
}

.hamburger > div::after{
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked ~ .hamburger > div::before,
.menu-wrap .toggler:checked ~ .hamburger > div::after{
  transform: rotate(90deg);
  top: 0;
}

.menu-wrap .toggler:checked:hover+ .hamburger > div{
  transform: rotate(225deg);
}

.menu-wrap .menu-content{
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 0.4s ease;
} 

.menu-wrap .menu-content > div{
  background: rgba(13, 17, 55, 0.7);
  height: 200vw;
  width: 200vw;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  border-radius: 50%;
  transition: all 0.4s ease;
}


.menu-wrap .menu-content > div > div{
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s ease ;
}

.menu-wrap .menu-content > div > div ul{
  list-style: none;
  line-height: 1.4;
}

.menu-wrap .menu-content > div > div ul li{
  margin-top: 1rem;
}

.menu-wrap .menu-content > div > div ul a{
  color:white;
  text-decoration: none;
  font-size: 1.4rem;
 
}

.menu-wrap .menu-content > div > div ul a:hover{
  color: var(--secondary-2-color);
  font-size: 1.8rem;

}

.menu-wrap .toggler:checked ~ .menu-content{
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu-content > div {
  transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu-content > div > div{
  opacity: 1;
}


@media(max-width:768px){

  .page ~ div{
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .btn-dark{
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .menu-wrap .menu-content > div{
    height: 300vw;
    width: 300vw;
  }
}